# OS
.DS_Store
*.pem

# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Coverage
*coverage*
cover.out
coverage.out

# Artifacts
build
dist
/out/

# env files (can opt-in for committing if needed)
.env*
!.env.example